description = "Header"

[viewBag]
==
<header class="header">
    <div class="logo-container">
        <a href="/" class="logo">
            <img src="{{ '/assets/img/logo_blank.png'|theme }}" height="35" alt="Coordinacion" />
        </a>
        <div class="d-md-none toggle-menu" data-toggle="collapse" data-target=".tab-navigation">
            <i class="fas fa-bars" aria-label="Toggle Menu"></i>
        </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">
        <span class="separator"></span>
        <div id="userbox" class="userbox">
            <a href="#" data-toggle="dropdown">
                <figure class="profile-picture">
                    <img src="{{ user.avatar.path }}" alt="Joseph Doe" class="rounded-circle" data-lock-picture="img/!logged-user.jpg" />
                </figure>
                <div class="profile-info" data-lock-name="{{ user.name }}" data-lock-email="{{ user.email }}">
                    <span class="name">{{ user.name }}</span>
                </div>

                <i class="fa custom-caret"></i>
            </a>

            <div class="dropdown-menu">
                <ul class="list-unstyled mb-2">
                    <li class="divider"></li>
                    <li>
                        <a role="menuitem" tabindex="-1" href="/mi-perfil"><i class="fas fa-user"></i> My Profile</a>
                    </li>
                    <li>
                        <a role="menuitem" tabindex="-1" data-request="onLogout" data-request-data="redirect: '/login'"><i class="fas fa-power-off"></i> Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- end: search & user box -->
</header>
