description = "Menu Principal"

[viewBag]
==
<div class="tab-navigation collapse">
	<nav>
		<ul class="nav nav-pills">
			<li class="nav-expanded nav-active">
				<a class="nav-link dropdown-toggle" href="/">
					<i class="fas fa-home" aria-hidden="true"></i>Inicio
				</a>
			</li>
			<li class="dropdown">
				<a class="nav-link dropdown-toggle"><i class="fas fa-church" aria-hidden="true"></i>Reuniones</a>
			</li>
			<li class="dropdown">
				<a class="nav-link dropdown-toggle"><i class="fas fa-calendar-alt" aria-hidden="true"></i>Eventos</a>
			</li>
			<li class="dropdown">
				<a class="nav-link dropdown-toggle"><i class="fas fa-tasks" aria-hidden="true"></i>Tareas</a>
			</li>
			<li class="dropdown">
				<a class="nav-link dropdown-toggle"><i class="fas fa-users-cog" aria-hidden="true"></i>Sabado</a>
			</li>
			<li class="dropdown">
				<a class="nav-link dropdown-toggle"><i class="fas fa-edit" aria-hidden="true"></i>Notas</a>
			</li>
			<li class="dropdown">
				<a class="nav-link dropdown-toggle"><i class="fas fa-users" aria-hidden="true"></i>Hermanos</a>
			</li>
			
		</ul>
	</nav>
</div>