description = "Menu Principal"

[viewBag]
==
<div class="tab-navigation collapse">
					<nav>
						<ul class="nav nav-pills">
							<li class="nav-expanded nav-active">
							    <a class="nav-link dropdown-toggle" href="/">
							        <i class="fas fa-home" aria-hidden="true"></i>Inicio
								</a>
								<ul class="dropdown-menu">
									<li class="dropdown-submenu">
										<a class="nav-link ">Sabado</a>
									</li>
									<li class="dropdown-submenu">
										<a class="nav-link ">Cumpleaños</a>
									</li>
									<li class="dropdown-submenu">
										<a class="nav-link ">Agenda</a>
									</li>
									<li class="dropdown-submenu">
										<a class="nav-link ">Reuniones</a>
									</li>
									<li class="dropdown-submenu">
										<a class="nav-link ">Notas</a>
									</li>
									<li class="dropdown-submenu">
										<a class="nav-link ">Hermanos</a>
									</li>
									<li class="dropdown-submenu">
										<a class="nav-link ">Asistencia</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
							    <a class="nav-link dropdown-toggle"><i class="fas fa-calendar-alt" aria-hidden="true"></i>Calendario</a>
							    <ul class="dropdown-menu">
							        <li class="dropdown-submenu">
							            <a class="nav-link dropdown-toggle">Layouts 1</a>
							            <ul class="dropdown-menu">
							                <li>
							                    <a class="nav-link" href="index.html">
							                        Landing Page
							                    </a>
							                </li>
							                <li>
							                    <a class="nav-link" href="layouts-default.html">
							                        Default
							                    </a>
							                </li>
							                <li class="dropdown-submenu">
							                    <a class="nav-link dropdown-toggle">
							                        Boxed
							                    </a>
							                    <ul class="dropdown-menu">
							                        <li>
							                            <a class="nav-link" href="layouts-boxed.html">
							                                Static Header
							                            </a>
							                        </li>
							                        <li>
							                            <a class="nav-link" href="layouts-boxed-fixed-header.html">
							                                Fixed Header
							                            </a>
							                        </li>
							                    </ul>
							                </li>
							                <li class="dropdown-submenu">
							                    <a class="nav-link dropdown-toggle">
							                        Horizontal Menu Header
							                    </a>
							                    <ul class="dropdown-menu">
							                        <li>
							                            <a class="nav-link" href="layouts-header-menu.html">
							                                Pills
							                            </a>
							                        </li>
							                        <li>
							                            <a class="nav-link" href="layouts-header-menu-stripe.html">
							                                Stripe
							                            </a>
							                        </li>
							                        <li>
							                            <a class="nav-link" href="layouts-header-menu-top-line.html">
							                                Top Line
							                            </a>
							                        </li>
							                    </ul>
							                </li>
							                <li>
							                    <a class="nav-link" href="layouts-dark.html">
							                        Dark
							                    </a>
							                </li>
							                <li>
							                    <a class="nav-link" href="layouts-dark-header.html">
							                        Dark Header
							                    </a>
							                </li>
							            </ul>
							        </li>
							    </ul>
							</li>
							
						</ul>
					</nav>
				</div>