title = "inicio"
url = "/"
layout = "default"
is_hidden = 0

[session]
security = "user"
allowedUserGroups[] = "servidores"
redirect = "login"

[PanelAdmin]
==
{% component 'session' %}
{% set data = PanelAdmin.Panel %}
{% set cumple = data.cumple %}
{% set zonal = data.zonal %}
{% set capilla = data.capilla %}
{% set servidores = data.servidores %}
<div class="row pt-4 mt-2">
    <div class="col-xl-6">
        <section class="card card-featured-left card-featured-primary mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Proximo cumpleaños</h4>
                            <div class="info">
                                <strong class="amount">{{ cumple.nombre_pila }}</strong>
                                <span class="text-primary">({{ cumple.t_dia }})</span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="/hermanos">(ver hermanos)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>			
    </div>
    <div class="col-xl-6">
        <section class="card card-featured-left card-featured-danger mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Proxima reunion zonal</h4>
                            <div class="info">
                                <strong class="amount">{{ zonal.asunto }}</strong>
                                <span class="text-primary">({{ zonal.t_dia }})</span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="/reuniones">(ver reuniones)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>			
    </div>
    <div class="col-xl-6">
        <section class="card card-featured-left card-featured-warning mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Proxima reunion de capilla</h4>
                            <div class="info">
                                <strong class="amount">{{ capilla.asunto }}</strong>
                                <span class="text-primary">({{ capilla.t_dia }})</span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="/reuniones">(ver reuniones)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>			
    </div>
    <div class="col-xl-6">
        <section class="card card-featured-left card-featured-success mb-3">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">Proxima reunion de servidores</h4>
                            <div class="info">
                                <strong class="amount">{{ servidores.asunto }}</strong>
                                <span class="text-primary">({{ servidores.t_dia }})</span>
                            </div>
                        </div>
                        <div class="summary-footer">
                            <a class="text-muted text-uppercase" href="/reuniones">(ver reuniones)</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>			
    </div>
    <div class="col-xl-6">
        <a href="/actas" target="_self" rel="noopener noreferrer">
            <section class="card card-horizontal mb-4">
                <header class="card-header bg-primary">
                    <div class="card-header-icon">
                        <i class="fas fa-book"></i>
                    </div>
                </header>
                <div class="card-body p-4">
                    <h3 class="font-weight-semibold mt-3">Libro de Actas</h3>
                    <p>Registro de los acuerdos y coordinaciones que realizamos en la reunion de coordinación.</p>
                </div>
            </section>    
        </a>
    </div>
    <div class="col-xl-6">
        <a href="/servicios" target="_self" rel="noopener noreferrer">
            <section class="card card-horizontal mb-4">
                <header class="card-header bg-primary">
                    <div class="card-header-icon">
                        <i class="fas fa-sitemap"></i>
                    </div>
                </header>
                <div class="card-body p-4">
                    <h3 class="font-weight-semibold mt-3">Servicios</h3>
                    <p>Relacion de los servicios establecidos del grupo.</p>
                </div>
            </section>    
        </a>
    </div>

</div>
<div class="row pt-4 mt-2">
    <div class="col-xl-6">
        <section class="card card-transparent">
            <div class="card-body">
                <section class="card mb-3">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                        </div>

                        <h2 class="card-title">
                            <span class="va-middle">Reuniones de Sabado del mes</span>
                        </h2>
                    </header>
                    <div class="card-body">
                        <div class="content">
                            <ul class="simple-user-list">
                            {% for sabado in data.sabados %}
                                <li>
                                    <span class="title">{{ sabado.fecha }}</span>
                                    <span class="message truncate">{{ sabado.tema|raw }}</span>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
    <div class="col-xl-6">
        <section class="card card-transparent">
            <div class="card-body">
                <section class="card mb-3">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                            <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                        </div>

                        <h2 class="card-title">
                            <span class="va-middle">Eventos del mes</span>
                        </h2>
                    </header>
                    <div class="card-body">
                        <div class="content">
                            <ul class="simple-user-list">
                            {% for evento in data.eventos %}
                                <li>
                                    <span class="title">{{ evento.fecha }}</span>
                                    <span class="message truncate">{{ evento.tema|raw }}</span>
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</div>
{% if user.name=='Luis' %}
<section class="card">
    <div class="card-body">
        <a href="/asistencias/create" class="mb-1 mt-1 mr-1 btn btn-primary"><i class="fas fa-plus mr-2"></i>Asistencias</a>
        <a href="/reuniones/create" class="mb-1 mt-1 mr-1 btn btn-success"><i class="fas fa-plus mr-2"></i>Reunion</a>
        <a href="#" class="mb-1 mt-1 mr-1 btn btn-danger"><i class="fas fa-tasks mr-2"></i>Evento</a>
    </div>
</section>
{% endif %}

